.dialog {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1300;
  justify-content: center;
}

.dialogOverlay {
  background-color: rgba(0, 0, 0, .35);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100vw - 32px);
  width: 360px;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
}
