.sheetOverlay {
  background-color: rgba(0, 0, 0, .15);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.sheetOverlay[data-state="entered"] {
  animation: fadeIn 300ms cubic-bezier(0.22, 1, 0.36, 1);
}
.sheetOverlay[data-state="exited"]{
  animation: fadeOut 300ms cubic-bezier(0.22, 1, 0.36, 1);
}

.sheetHeader {
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 72px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin: 0;
}

.sheetContent {
  background-color: #fff;
  box-shadow: hsl(206 22% 7% / 35%) 0 0 38px -10px, hsl(206 22% 7% / 20%) 0 0 35px -15px;
  position: fixed;
  width: 100vw;
  will-change: transform;
}

.sheetContent[data-state="entered"] {
  animation: slideIn 300ms cubic-bezier(0.22, 1, 0.36, 1);
  animation-fill-mode: forwards;
}

.sheetContent[data-state="exiting"],
.sheetContent[data-state="exited"] {
  animation: slideOut 300ms cubic-bezier(0.22, 1, 0.36, 1);
  animation-fill-mode: forwards;
}

.sheetCloseBtn {
  background: none;
  border: none;
  position: absolute;
  right: 16px;
  top: 28px;
  cursor: pointer;
}

/* POSITION */
.left {
  --transform-value: translate3d(-100%,0,0);
  top: 0;
  left: 0;
  bottom: 0;
}

.bottom {
  --transform-value: translate3d(0,100%,0);
  border-radius: 12px 12px 0 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.top {
  --transform-value: translate3d(0,-100%,0);
  border-radius: 0 0 12px 12px;
  left: 0;
  right: 0;
  top: 0;
}

.right {
  --transform-value: translate3d(100%,0,0);
  top: 0;
  right: 0;
  bottom: 0;
}

/* SIZES */
.sm {
  height: 20vh;
}
.md {
  height: 40vh;
}
.lg {
  height: 60vh;
}
.xl {
  height: 80vh;
}
.full {
  height: 100vh;
}

/* ANIMATION */
@keyframes slideIn {
  from {
    transform: var(--transform-value);
  }

  to {
    transform: translate3d(0,0,0);
  }
}

@keyframes slideOut {
  from {
    transform: translate3d(0,0,0);
  }
  
  to {
    transform: var(--transform-value);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}